{{#each projects as |project|}}
<div class=" ">
    <h2><a href="/project/{{project.id}}">{{project.name}}</a></h2>
    <p>$</p>
    <p>{{project.user.name}}</p>
    <p>{{project.description}}</p>
</div>
{{/each}}